<h2>Submitting a Story</h2>
<h2>To submit a story to Retrospective, call our Google Voice at 205-530-8383. Before starting your story, please state your name, relation to the University, the location of your story and the approximate date of your story. You may also submit of picture of yourself to the Retrospective email at ccretrospective@gmail.com.</h2>