html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
  width: 80%;
  margin: 0;
  padding: 0;
  float: left;
}

#content {
  float: right;
  width: 20%;
  height: 80%;
  overflow: auto;
}

.header, .footer {
  float: right;
  width: 20%;
  height: 10%;
}

.header {

}

.footer {

}
